<responsive-child class="map-content">
  <div class="outmost">
    <div class="aspect-ratio-outer">
      <div class="aspect-ratio-inner">
        <leaflet-map zoom=10>
          <tile-layer layer="cartoPositron"></tile-layer>
        </leaflet-map>
      </div>
    </div>
    <div class="map-container-bottom">
      <div class="selected-homicide-container">
        <div class=selected-homicide>
          <button class='clear-search'><img class="icon" src='assets/x-icon.svg'></button>

          <p class="selected-homicide-text"> 
          </p>
        </div>
      </div>
    </div>

  </div>
</responsive-child>
