@import "seattletimes";
@import "popup";

@aspect-ratio: 9/10;
@legend-length: 5; //number of legend items
body{
  font-family: @df-sans;
}

.head-content{
  max-width: 630px;
  margin: auto;
  .title{
      text-align: center;
      font-weight: bold;
      font-size: 2.5em;
  }
  .directions{
    margin: 0 0 8px 0;
  }
}

.filter-map-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-container{
  select{
    padding: 3px;
    font-family: @df-sans;
    font-size: 16px;
    border-radius: 5px;
    background-color: white;
  }
  @media screen and (max-width: 720px){
    margin-left: 0; 
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    div{
      margin: auto;
      select{
        width: 150px;
      }
    }
  }

  @media screen and (min-width: 720px){
  width: 110px;
  div {
    padding-bottom: 10px;
      select{
          width: 100px;
      }        
  }
}
.clear-filters{
  padding: 3px;
  outline: none;
  border-radius: 5px;
  font-family: @df-sans;
  font-size: 16px;
  background-color: white;
  border: 1px solid rgb(169, 169, 169);
  width: 100px;
}
.legend{
  font-size: 16px ;
}
.dot{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  opacity: .7;
  &.police{
    background-color: blue;
  }
  &.new{
    background-color: green;
  }
  &.other{
    background-color: black;
  }
}
}

select:hover{
  cursor: pointer;
  border: 1px solid black;
}
.clear-filters:hover {
  cursor: pointer;
  border: 1px solid black;
}

.map-content {
  max-width: 600px;
  width: 100%;
}
leaflet-map {
  font-family: @df-sans;
  padding: 0;
  margin: 0 auto;
  max-width: 600px;
  font-size: 16px;
  height: 100%;
}
.outmost {
  margin: 0;
  padding-bottom: 0;
}
.aspect-ratio-outer {
  width: 100%;
  position: relative;
  height:100%;
  .aspect-ratio-inner {
    @media screen and (max-width: 500px){
      padding-bottom: 80%;
    }
    padding-bottom: 60%;
    position: relative;
  }
  leaflet-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &:not([ready]) {
      display: none;
    }
  }
}

.selected-homicide-container{
  border: 1px solid rgb(175, 175, 175);
  font-size: 16px;
  background-color: #eee;
  flex-wrap: wrap;
  display: none;
  margin: 20px 0;
  padding: 4px 4px;
  border-radius: 5px;
  .selected-homicide-text{
    margin: 0;
    padding: 3px;
  }
    .clear-search{
      padding: 3px;
      background-color: transparent;
      border: none;
      .icon{
        width: 16px;
        &:hover{
          cursor: pointer;
        }
      }
    }
}

.data-table-header{
    display: flex;
    margin-bottom: 10px;
    font-size: 16px;
    div{
      width: 25%;
        margin: auto;
    }
}

.data-table-container{
  max-width: 960px;
  margin: auto;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 5px 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    font-family: @df-sans;
    transition: 0.4s;
    .row-title{
        display: flex;
        .row-date{
          font-weight: bold;
        }
        div{
            margin:  auto;
            width: 25%;
        }
    }
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    max-width: 630px;
    margin: auto;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .more-rows{
    width: 200px;
    height: 25px;
    line-height: 1.25;
    margin: 20px auto;
    background-color: #eee;
    text-align: center;
    border: 1px solid black;
    &:hover{
      background-color: #ccc;
      cursor: pointer;
    }
  }

  .credits {
    margin: 40px auto;
    font-family: "ff-dagny-web-pro", Helvetica Neue, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1em;
    max-width: 960px;
    
        font-style: normal;
        font-size: 0.8em;
    

  }


@import "leaflet-tweaks";
@import "legend";