@import "seattletimes";
@import "popup";

@aspect-ratio: 9/10;
@legend-length: 5; //number of legend items

.head-content{
  max-width: 630px;
  margin: auto;
  @df-serif: "ff-meta-serif-web-pro", Georgia, serif;
  font-size: 19px;
  @media screen and (max-width: 630px){
    margin: 0 6px;
  }
  .chatter{
    margin-bottom: 8px;
  }
  .title{
      text-align: center;
      font-weight: bold;
      font-size: 28px;   
  }
}
.directions{
  margin: 0 0 10px 0;
  font-style: italic;
  color: @df-middle-gray;
  text-align: center;
}

.filter-map-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-container{
  font-family: @df-sans;
  .filter-by{
    width: 100%;
    font-size: 19px;
    margin: 0 0 6px 0;
  }
  select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
    box-shadow: 0;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%237E838B%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    outline: 0; 

    padding: 3px;
    font-family: @df-sans;
    font-size: 16px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid @df-middle-gray;
  }

  @media screen and (max-width: 960px){
    margin-left: 0; 
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    div{
      margin: 4px auto;
    select{
        width: 150px;
      }
    }
  }

  @media screen and (min-width: 960px){
  width: 160px;
  div {
    padding-bottom: 10px;
      select{
          width: 150px;
      }        
  }
}
.clear-filters{
  padding: 3px;
  outline: none;
  border-radius: 5px;
  font-family: @df-sans;
  font-size: 16px;
  background-color: white;
  border: 1px solid black;
  text-align: left;
  width: 150px;
}
select:hover{
  cursor: pointer;
  border: 1px solid black;
}
.clear-filters:hover {
  cursor: pointer;

}


.legend{
  display: flex;
  flex-wrap: wrap;
  font-size: 16px ;
  width: 100%;
  p{
    margin: 2px 0;
  }
  @media screen and (max-width: 960px){
    p{
      margin: 4px 0;
    }
  }
}
.dot{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  opacity: .7;
  &.police{
    background-color: darkorange;
  }
  &.new{
    background-color: #94F28C;
  }
  &.other{
    background-color: #1D6D39;
  }
}
}


.map-content {
  max-width: 800px;
  width: 100%;
}
leaflet-map {
  font-family: @df-sans;
  padding: 0;
  margin: 0 auto;
  max-width: 800px;
  font-size: 16px;
  height: 100%;
}
.outmost {
  margin: 0;
  padding-bottom: 0;
}
.aspect-ratio-outer {
  width: 100%;
  position: relative;
  height:100%;
  .aspect-ratio-inner {
    @media screen and (max-width: 500px){
      padding-bottom: 80%;
    }
    padding-bottom: 60%;
    position: relative;
  }
  leaflet-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &:not([ready]) {
      display: none;
    }
  }
}

.selected-homicide-container{
  border: 1px solid rgb(175, 175, 175);
  font-size: 16px;
  background-color: #eee;
  flex-wrap: wrap;
  display: none;
  margin: 20px 0;
  padding: 4px 4px;
  border-radius: 5px;
  .selected-homicide-text{
    margin: 0;
    padding: 3px;
  }
    .clear-search{
      padding: 3px;
      background-color: transparent;
      border: none;
      .icon{
        width: 16px;
        &:hover{
          cursor: pointer;
        }
      }
    }
}

.data-table-header{
    display: flex;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: @df-sans;
    font-weight: bold;
    line-height: 1;
    .data-head-date{
      width: 10%;
      min-width: 42px;
      text-align: center;
      margin: auto 2px;
    }
    .data-head-name{
      width: 40%;
      min-width: 120px;
      margin: auto 2px;
      @media screen and (max-width: 320px){
        width: 60%;
      }
    }
    .data-head-city{
      width: 25%;
      min-width: 80px;
      margin: auto 2px;
      @media screen and (max-width: 320px){
        width: 30%;
      }
    }
    .data-head-latest{
      width: 15%;
      max-width: 60px;
      margin: auto 2px;
      @media screen and (max-width: 320px){
        display: none;
      }
    }
}

.data-table-container{
  max-width: 960px;
  margin: auto;
}

.accordion:nth-child(4n + 1){
background-color: #eeeeee;
}

.accordion {
    background-color: #f8f8f8;
    color: @df-off-black;
    cursor: pointer;
    padding: 5px 0;
    width: 100%;
    border: none;
    // text-align: left;
    outline: none;
    font-size: 16px;
    font-family: @df-sans;
    transition: 0.4s;
    .row-title{
      // text-align: left;
        display: flex;
        padding: 0 4px;
        .row-date{
          font-weight: bold;
          width: 10%;
          min-width: 42px;
          margin: auto 2px;
        }
        .row-latest{
          width: 15%;
          max-width: 60px;
          margin: auto 2px;
          @media screen and (max-width: 320px){
            display: none;
          }
        }
        .row-city{
          text-align: left;
          width: 25%;
          min-width: 80px;
          margin: auto 2px;
          @media screen and (max-width: 320px){
            width: 30%;
          }
        }
        .row-name{
          text-align: left;
          width: 40%;
          min-width: 120px;
          @media screen and (max-width: 320px){
            width: 60%;
          }
        }
        div{
            margin:  auto 2px;;
            width: 25%;
        }
    }
  }


  .data-table-link{
    color: #0777b3;
    &:hover{
      text-decoration: underline;
    }
    &:visited{
      color: #0777b3;
    }
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    max-width: 630px;
    margin: auto;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: 16px;
    .convicted{
      font-weight: bold;
    }
  }

  .more-rows{
    width: 200px;
    height: 25px;
    line-height: 1.25;
    margin: 20px auto;
    background-color: #f8f8f8;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    &:hover{
      background-color: #eee;
      cursor: pointer;
    }
  }

  .credits {
    margin: 40px auto;
    font-family: "ff-dagny-web-pro", Helvetica Neue, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1em;
    max-width: 960px;
        font-style: normal;
        font-size: 0.8em;
    

  }


@import "leaflet-tweaks";
@import "legend";