<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_dataLayer.html") %>
      <%= t.include("partials/_gtm.html") %>
    <% } %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_gtmNoScript.html") %>
    <% } %>
    <responsive-child>
     <%= t.include("partials/_nav.html") %>
     <div class="head-content">
       <h1 class="title">Homicide Tracker Map</h1>
       <p class="chatter">Every year in King County, dozens of people lose their lives to acts of violence. The Seattle Times is tracking the county’s homicides in 2020, in an effort to recognize the loss and to monitor the cases as they are investigated and move through the criminal justice system. In the map and table below, you can find information about each homicide reported in King County so far this year.</p>
      </div>
      <div>      
        <p class="directions">Click on the case to see more details about what happened, as well as links to The Seattle Times’ coverage.</p>
      </div>

      <div class="filter-map-container">
      <div class="filter-container">
      <p class="filter-by">Filter by:</p>
      <div class="city">
        <select>
        </select>
      </div>
      <div class="cause">
        <select>
          <option selected disabled hidden>Cause</option>
          <option value="shooting">Shooting</option>
          <option value="stabbing">Stabbing</option>
          <option value="beating">Beating</option>
          <option value="other">Other</option>
        </select>
      </div>
      <div class="age">
        <select>
          <option selected disabled hidden>Age</option>
          <option value="0, 5">0-5 years</option>
          <option value="6, 17">6-17 years</option>
          <option value="18, 25">18-25 years</option>
          <option value="26, 50">26-49 years</option>
          <option value="50">50+ years</option>
        </select>
      </div>
      <div class="clear">
        <button class="clear-filters">CLEAR</button>
      </div>
      <div class="legend">
        <div><p><span class="dot police"></span> Police shooting/homicide</p></div>
        <div><p><span class="dot new"></span> Recent homicides</p></div>
        <div><p><span class="dot other"></span> Homicide</p></div>
      </div>
    </div>

    <%= t.include("partials/_map.html") %>
  </div>
 
  <div class="data-table-container">
    <div class="data-table-header">
        <div class="data-head-date">DATE</div>
        <div class="data-head-name">VICTIM</div> 
        <div class="data-head-city">LOCATION</div> 
        <div class="data-head-latest">LATEST STORY</div>
    </div>
  <div class="data-table"> 
  </div>
  <div class="more-rows">Click to see more</div>

</div>
<div class="credits">
  <div>
    Reporting and research by <a href="https://www.seattletimes.com/author/sara-jean-green/" class="data-table-link" target="_blank" rel="noopener noreferrer">Sara Jean Green</a>
  </div>
  <div>
    Editing by <a href="https://www.seattletimes.com/author/diana-samuels/" class="data-table-link" target="_blank" rel="noopener noreferrer">Diana Samuels</a>
  </div>
  <div >Design and development by Miranda Hardy</div>
  <div>Production by <a href="https://www.seattletimes.com/author/jeff-albertson/" class="data-table-link" target="_blank" rel="noopener noreferrer">Jeff Albertson</a></div>
</div>


<%= t.include("partials/_marketing.html", {type: "subscribe", placement: "footer"}) %>
<%= t.include("partials/_dontMiss.html", grunt.data.json) %>
<%= t.include("partials/_navBottom.html") %>

    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
