<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_dataLayer.html") %>
      <%= t.include("partials/_gtm.html") %>
    <% } %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_gtmNoScript.html") %>
    <% } %>
    <responsive-child>
     <%= t.include("partials/_nav.html") %>
     <div class="head-content">
       <h2 class="title">Homicide Tracker Map</h2>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at varius odio. Mauris pulvinar justo eget mauris imperdiet, id vestibulum diam posuere. Sed aliquam, justo vel tempor laoreet, metus felis interdum dolor, eu sollicitudin ex eros in orci. Duis lobortis rhoncus justo, porttitor gravida ex tincidunt vitae. Ut ac nisi tempus, pretium leo eu, feugiat orci. Quisque posuere lorem nec dui convallis, commodo commodo nisi dignissim. Nullam nisi ipsum, gravida sit amet tincidunt id, elementum vitae quam.</p>
       <p>Select from the drop down menus to filter the map</p>
      </div>

      <div class="filter-map-container">
      <div class="filter-container">
      <!-- Search for cities? Filter out all others? or just move to city and highlight? -->
      <div class="city">
        <select>

        </select>
      </div>

      <!-- What gener choices -->
      <div class="gender">
        <select>
          <option value='Gender' selected disabled hidden>Gender</option>
          <option value="Male">Male</option>
          <option value="Nonbinary">Nonbinary</option>
          <option value="Female">Female</option>
          <option vlaue="Other">Other</option>
        </select>
      </div>

      <!-- what age choices? Range? -->
      <div class="age">
        <select>
          <option>Age</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
        </select>
      </div>

      <div class="cause">
        <select>
          <option>Cause</option>
          <option>cause</option>
          <option>cause</option>
          <option>cause</option>
        </select>
      </div>
      <div class="clear">
        <button>Clear</button>
      </div>
    </div>

    <%= t.include("partials/_map.html") %>
  </div>
 
  <div class="data-table-container">
    <div class="data-table-header">
        <div>Date</div> 
        <div>Time</div> 
        <div>Location</div> 
        <div>Victim</div>
    </div>
   <!-- replace with loop to create each row -->
  <div class="data-table"> 
    <button class="accordion">
      <div class="row-title">
        <div>03/19/2019</div> 
        <div>02:00</div> 
        <div>Space Needle</div> 
        <div>55 yo male</div>
      </div>
    </button>
      <div class="panel">
      <p>Lorem ipsum...</p>
    </div>

    <button class="accordion">
      <div class="row-title">
        <div>03/19/2019</div> 
        <div>02:00</div> 
        <div>Space Needle</div> 
        <div>55 yo male</div>
      </div>
    </button>
      <div class="panel">
      <p>Lorem ipsum...</p>
    </div>
   

    <button class="accordion">
      <div class="row-title">
        <div>03/19/2019</div> 
        <div>02:00</div> 
        <div>Space Needle</div> 
        <div>55 yo male</div>
      </div>
    </button>
      <div class="panel">
      <p>Lorem ipsum...</p>
    </div>

    <div class="more-rows">Click to see more</div>
  </div>
</div>
<%= t.include("partials/_navBottom.html") %>

    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
